.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.25s ease;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.container {
	width: 	80%;
	margin: 0 auto;
}

.icon {
	svg {
		width: 20px;
		height: 20px;
	}
}
